<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="css.cis3334trace.fishguidefinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BassActivity"
            android:label="@string/title_activity_bass"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CrappieActivity"
            android:label="@string/title_activity_crappie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CatfishActivity"
            android:label="@string/title_activity_catfish"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NorthernActivity"
            android:label="@string/title_activity_northern"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MuskeyActivity"
            android:label="@string/title_activity_muskey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TroutActivity"
            android:label="@string/title_activity_trout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LuresActivity"
            android:label="@string/title_activity_lures"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".LakeActivity"></activity>
    </application>

</manifest>